* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item {
  background-color: rgb(199, 29, 171);
  height: 100px;
  width: 100px;

  /* animation k cần chạm chuột */
  animation-name: ani;
  /* chỉnh thời gian */
  animation-duration: 1s;
  /* set số lần lặp loop/iteration */
  /* animation-iteration-count: infinite; */
  /* lùi lại */
  animation-direction: alternate;
  /* chỉ làm 1 lần */
  animation-fill-mode: forwards;
}
@keyframes ani {
  25% {
    width: 30%;
    background-color: red;
  }
  100% {
    background-color: black;
    width: 100%;
  }
}
